* {
    margin: 0;
    padding: 0;
}
.car {
    position: absolute;
    width: 100px;
    height: 25px;
    background-color: black;
    left: 100px;
}
.car1 {
    position: absolute;
    width: 170px;
    height: 35px;
    background-color: black;
    top: 25px;
    left: 65px;
}
.circle1 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: grey;    border-radius: 100%;
    top: 45px;
    left: 100px;
    animation: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border: 2px dashed red;
    animation-timing-function: linear;
}
.circle2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 100%;
    top: 45px;
    left: 170px;
    border: 2px dashed red;
    animation: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.car2 {
    position: absolute;
    width: 10px;
    height: 6px;
    background-color: grey;
    top: 54px;
    left: 55px
}
.smoke1, .smoke2, .smoke3 {
    position: absolute;
    width: 7px;
    height: 0.5px;
    background-color: black;
}
.smoke1 {
    top: 54px;
    left: 45px;
    animation: smoke1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.smoke2 {
    top: 56px;
    left: 45px;
    animation: smoke2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.smoke3 {
    top: 58px;
    left: 45px;
    animation: smoke3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes smoke1 {
    0%, 32% {
        opacity: 0;
    }
    33%, 100% {
       opacity: 1;
    }
}
@keyframes smoke2 {
    0%, 62% {
        opacity: 0;
    }
    63%, 100% {
        opacity: 1;
    }
}
@keyframes smoke3 {
    0%, 92% {
        opacity: 0;
    }
    93%, 100% {
        opacity: 1;
    }
}